body {
    background-color: black;
    
}

.grid {
    justify-content: center;
    align-content: center;
    height: 541px;
    width: 864px;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    
}

.area {
    border-radius: 10px;
}

.a {
    grid-column: 1 / span 5;
    font-family: 'Roboto', sans-serif;
}

.b {
    grid-column: 6 / span 2;
    
    color: rgb(219, 218, 215);
    font-family: 'Roboto', sans-serif;
    padding: 80px 0px 0px 150px;
}
.c {
    grid-column: 1 / span 3;
    grid-row: 2 / span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.d {
    grid-column: 4 / span 2;
    grid-row: 2 / span 2;
    overflow: hidden;
    
}

.e {
    grid-column: 6 / span 2;
    grid-row: 2 / span 2;
    overflow: hidden;
}

.f {
    grid-column: 4 / span 4;
    overflow: hidden;
}

.text {
    color: rgb(219, 218, 215);
}

